[kafka]
# Kafka
bootstrap.servers=kafka_bootstrap_server_url
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=kafka_user
sasl.password=kafka_password

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

# Confluent Cloud Schema Registry
schema.registry.url=schema_registry_url
basic.auth.credentials.source=USER_INFO
basic.auth.user.info=schema_registry_user:schema_registry_password